@import url("https://use.typekit.net/ano6edr.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --text-font: "Inter", sans-serif;
  --title-font: "robot", sans-serif;
  --black: #141414;
  --red: #cc2337;
  --light-red: #d14f60;
}

body {
  background-image: url("../public/mobile-background-test.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: top;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 1024px) {
  @media screen and (min-width: 1024px) {
    body {
      background-repeat: no-repeat;
      background-size: auto 100vh;
      background-position: left top;
      background-image: url("../public/pc-background-test.png");
      background-color: #e9f1f4;
    }
  }
}
